<br>
<div class="row">
	<div class="small-8 columns">
		<h1 id="document-title">{{docTitle}}</h1>
	</div>
	<div class="small-4 columns" ng-show="userHasAccess">
		<a ng-href="#/{{docId}}/edit" class="button">Edit</a>
	</div>
</div>
<div class="row">
	<div class="small-10 columns end">
		<article id="document-body">{{docBody}}</article>
	</div>
</div>

<div class="row" ng-hide="docFound">
	<div class="small-10 columns end" id="not-found-message">
		<p>{{notFoundMessage}}</p>
	</div>
</div>

<br>
<section id="doc-info-area" ng-show="docFound">
	<div class="row">
		<h3 class="small-8 columns end" id="document-author">Author: {{docOwner}}</h3>
	</div>
	<br>
	<div class="row">
		<div class="small-8 columns end">
			<h4>Current Collaborators: <span ng-hide="hasCollaborators">(None yet!)</span></h4>
		</div>
	</div>
	<div class="row">
	  <ul class="small-8 columns">
			<li ng-repeat="collaborator in collaborators">{{collaborator}}</li>
		</ul>
	</div>
	<br>
	<div class="row collapse">
		<div class="large-3 medium-4 small-5 columns">
			<input type="text" ng-model="query" placeholder="Search Collaborators">
		</div>
		<div class="large-2 medium-3 small-4 columns end">
			<button class="button postfix" ng-click="searchUsers();">Search</button> 
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns end">
			<ul>
				<li ng-repeat="user in users">{{user}} <button type="button" ng-click="addCollaborator(user);">Add</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-show="noResultsMessage">
		<div class="small-12 columns">
			<p>{{noResultsMessage}}</p>
		</div>
	</div>
</section>

<div id="chat-feed" ng-show="docFound">
	<div class="row">
		<div class="small-12 columns">
			<p class="text-left" ng-repeat="message in messages">{{message}}</p>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-6 columns">
			<input type="text" ng-model="chatMessage">
		</div>
		<div class="small-3 columns end">
			<button class="button postfix" ng-click="sendMessage();">Send Message</button>
		</div>
	</div>
</div>
