<br>
<form name="edit-document-form" ng-show="docFound">
	<div class="row">
		<div class="small-6 columns end">
		  <label for="doc-title" ng-show="isOwner">Document Title</label>
		  <input type="text" id="doc-title" ng-show="isOwner">
		  <h1 ng-hide="isOwner">{{docTitle}}</h1>
		</div>
  </div>
  <div class="row">
  	<div class="small-6 columns">
		  <label for="doc-body">Document Body</label>
		  <textarea id="doc-body" rows="30"></textarea>
		</div>
		<div class="small-6 columns">
			<p class="text-left" ng-repeat="message in messages">{{message}}</p>
			<input type="text" ng-model="chatMessage">
			<button class="button" ng-click="sendMessage();">Send Message</button>
		</div>
	</div>
</form>