<div class="row">
	<div class="small-6 columns">
		<h2>Your Messages</h2>
	</div>
	<div class="small-6 columns">
		<a href="#/messages/new" class="button">New Message</a>
	</div>
</div>
<div class="row" ng-repeat="message in messages">
	<div class="small-4 columns">
		<div class="panel">
			<p class="lead"><b>Sender:</b> <a ng-href="#/users/{{message[0]}}">{{message[0]}}</a></p>
		</div>
	</div>
	<div class="small-8 columns">
		<div class="panel">
			<section><b>Subject:</b> {{message[1]}}</section> 
			<section><b>Sent:</b> {{message[2]}}</section>
			<div ng-attr-id="message-{{message[2]}}" class="slider closed"></div>
		</div>
	</div>
</div>
<div class="row" ng-show="messages.length === 0">
	<div class="small-12 columns">
		<p>You have no messages.</p>
	<div>
</div>