<div class="row">
	<div class="small-6 columns">
		<h2>Your Messages</h2>
	</div>
	<div class="small-6 columns">
		<a href="#/messages/new" class="button">New Message</a>
	</div>
</div>
<div class="row" ng-repeat="message in messages">
	<div class="small-12 columns">
		<dl class="accordion" data-accordion>
			<dd class="accordion-navigation">
				<a ng-href="#message-{{message.id}}"><b>Sender:</b> {{message.sender}} <b>Subject:</b> {{message.subject}} <b>Sent:</b> {{message.sent}}</a>
				<div ng-attr-id="message-{{message.id}}" class="content">{{message.body}}</div>
			</dd>
		</dl>
	</div>
</div>
<div class="row" ng-show="messages.length === 0">
	<div class="small-12 columns">
		<p>You have no messages.</p>
	<div>
</div>