<div class="row">
	<div class="small-4 columns">
		<h2>Your Messages</h2>
	</div>
	<div class="small-4 columns">
		<a href="#/messages/new" class="button">New Message</a>
	</div>
	<div class="small-4 columns">
		<a ng-href="#/users/{{currentUser.name}}" class="button">Back</a>
	</div>
</div>
<br>
<div class="row" ng-repeat="message in messages">
	<div class="small-4 columns">
		<div class="panel">
			<p class="lead"><b>Sender:</b> <a ng-href="#/users/{{message.sender}}">{{message.sender}}</a></p>
		</div>
	</div>
	<div class="small-8 columns">
		<div class="panel">
			<section><b>Subject:</b> {{message.subject}}</section> 
			<section><b>Sent:</b> {{message.sent}}</section>
			<br>
			<a href="" class="button small radius" ng-attr-id="show-message-{{message.id}}" ng-click="showMessage(message)">Show Message</a>
			<section ng-attr-id="message-{{message.id}}" class="slider closed">{{message.body}}<br><br>
			<a href="#/messages/new" class="button small radius" ng-click="reply(message)">Reply</a>
			</section>
		</div>
	</div>
</div>
<div class="row" ng-show="messages.length === 0">
	<div class="small-12 columns">
		<p>You have no messages.</p>
	<div>
</div>