<br>
<div class="row">
	<h2 class="large-6 medium-8 small-10 columns">New Message</h2>
</div>

<form name="new-document-form" ng-submit="sendMessage();">
	<div class="row">
		<div class="small-8 columns">
		  <label for="message-receiver">To</label>
		  <input type="text" id="message-receiver" ng-model="messageReceiver">
		  <div data-alert class="alert-box warning round" id="alert-one" ng-show="noReceiverFound">
  			There is no user named {{messageReceiver}} <a class="close">Go</a>
			</div>
			<label for="message-subject">Subject</label>
			<input type="text" id="message-subject" ng-model="messageSubject">
		</div>
		<div class="small-2 columns">
  		<input class="button" type="submit" value="Save" ng-show="isValid">
  	</div>
  	<div class="small-2 columns">
  		<a class="button" ng-href="#/{{currentUser.name}}">Cancel</a>
  	</div>
  </div>
  <div class="row">
  	<div class="small-10 columns end">
		  <label for="message-body">Message Body</label>
		  <textarea id="message-body" rows="15" ng-model="docBody"></textarea>
		</div>
	</div>
</form>
