<div class="row">
	<div class="small-12 columns">
		<h1>{{user}}</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Last Modified</th>
					<th>Taking Collaborators?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="document in documents">
					<td><a ng-href="#/{{user}}/{{document.id}}">{{document.title}}</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<a href="#/new-document" class="button" ng-show="ownsProfile">New Document</a>
	</div>
</div>