<div class="row">
	<div class="small-12 columns">
		<h1>{{user}}</h1>
		<img ng-src="{{userPic}}">
		<input type="file" image-upload>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h2 class="subheader" id="new-user-message"></h2>
	</div>
</div>
<div class="row" ng-show="sets.length">
	<div class="small-12 columns">
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Last Modified</th>
					<th>Taking Collaborators?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="document in documents">
					<td><a ng-href="#/{{user}}/{{document.id}}">{{document.title}}</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination" ng-show="sets.length > 1">
			<li class="arrow" id="back-arrow"><a href="" ng-click="back(currentSet);">&laquo;</a></li>
			<li ng-repeat="set in sets" ng-class="set.isCurrent"><a href="" ng-click="displaySet(set);">{{set.index}}</a></li>
			<li class="arrow" id="forward-arrow"><a href="" ng-click="forward(currentSet);">&raquo;</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<a href="#/new-document" class="button" ng-show="ownsProfile">New Document</a>
	</div>
</div>