<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="simpleWriter" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="simpleWriter" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="simpleWriter" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html lang="en" ng-app="simpleWriter" class="no-js"> <![endif]-->
<html lang="en" ng-app="simpleWriter">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SimpleWriter</title>
  <meta name="description" content="A collaborative writing app">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/foundation.min.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/vendor/foundation/foundation.topbar.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body ng-controller="appCtrl">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">SimpleWriter</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <div class="row collapse">
            <div class="large-8 small-6 columns" ng-hide="currentUser">
              <li><a href="#/register" id="new-user-link">Register</a></li>
              <!-- <li><a ng-href="#/{{currentUser.name}}" ng-hide="!currentUser">{{currentUser.email}}</a></li> -->
            </div>
            <div class="large-4 small-6 columns" ng-hide="currentUser">
              <li><a href="#/login">Login</a></li>
            </div>
            <!-- <div class="large-4 small-6 columns" ng-show="currentUser">
              <li><a href="#" ng-show="currentUser" ng-click="logout()">Logout</a></li>
            </div> -->
          </div>
        </ul>
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Search Documents" ng-model="docQuery">
              </div>
              <div class="large-4 small-3 columns">
                <a href="" class="button expand" ng-click="searchDocs()">Find Docs</a>
              </div>
            </div>
          </li>
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Search Users" ng-model="userQuery">
              </div>
              <div class="large-4 small-3 columns">
                <a href="" class="alert button expand" ng-click="searchUsers()">Find Users</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </nav>
        <!-- <p ng-show="userMessage" id="user-message">{{userMessage}}</p> -->
    </div>
  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script>$(document).foundation();</script>
  <script src="js/app.js"></script>
  <script src="js/library/services.js"></script>
  <script src="js/library/factories.js"></script>
  <script src="js/library/controllers.js"></script>
  <script src="js/library/filters.js"></script>
  <script src="js/library/directives.js"></script>
  <script src="js/library/constants.js"></script>
</body>
</html>
